<a href="https://colab.research.google.com/github/Juniorexz/DataScience/blob/main/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Estrutura de dados de duas dimens천es
import pandas as pd
import numpy as np

In [2]:
dados = {
	'Nome':['Rafael', 'Donatelo','Michelangelo','Leonardo'],
	'Idades': [18, 18, 18, 18],
	'Cidades': ['Nova York','Los Angeles', 'S찾o Francisco', 'Chicago']
}

In [3]:
df = pd.DataFrame(dados, index = [1, 2, 3, 4])

In [4]:
df

           Nome  Idades        Cidades
1        Rafael      18      Nova York
2      Donatelo      18    Los Angeles
3  Michelangelo      18  S찾o Francisco
4      Leonardo      18        Chicago

In [14]:
type(df)

pandas.core.frame.DataFrame

In [20]:
#np.random.normal(100, 15, size = (30,5))

In [12]:
array = np.random.normal(100, 15, size =(30, 5))
n = array.shape[0]
df = pd.DataFrame(array,index = range (1, n+1), columns = list('ABCDE'))
#range sequencia de numeros inteiros

In [6]:
df

             0           1           2           3           4
0    94.972928  112.268065  111.093950  116.358046  109.915909
1    98.507544   97.819462   82.651576  113.023311  104.330154
2    77.062853  103.037448   88.198369   86.063726  102.101192
3   111.946196  106.485922  105.318737   75.595701   90.328512
4   108.997650   79.037245   91.944407   87.904181  125.767602
5   113.701149   96.458421   98.050884  102.178162   94.726004
6   104.348768   96.762521   89.488554  109.309776  108.886920
7    96.756468  129.010490   84.904099   83.359901  130.375881
8    88.209833  109.953427  125.780352   98.821313  121.383121
9    85.450529  135.848330  103.543126   94.417084   80.501768
10   82.100073   97.435440   77.366189  100.615916   89.078336
11   94.644813  102.177113  105.999638   61.949658   84.989194
12  110.013502   97.747506   96.853736   84.627530   93.653138
13  115.392072  105.220821   87.531268  128.074315  106.962174
14   90.072649  114.459097  107.613114   87.806926   71.473040
15   95.357848   93.921621   78.724729  110.414321  115.509866
16  111.887034   92.790901   97.081227   93.617968  117.570797
17   90.833591   88.017733   70.982019   96.556015   91.589170
18  101.267652  106.844240   95.253572   96.179764   77.589988
19  100.249337   81.559821   96.091048  111.539709  100.836689
20  112.122186  110.278893  106.483329  109.296750  101.783805
21   87.720628   71.875278  111.232529  100.669786   86.963085
22  116.945483  114.432738   86.675759   97.953152   88.811563
23   79.962322   87.521653  117.469241  105.724328  108.492994
24  118.093382   98.493701  113.201890  105.210888  105.723798
25  115.403806  103.969672  103.816449   81.132805   80.911170
26   88.491478  117.324916   70.766368   90.637872   94.640428
27   77.060382   75.924790   88.402085  103.073463   75.209266
28  100.277022  112.276074   97.850714  106.663424   98.693174
29  120.416368  119.734757   89.279869  114.427553   79.141473

In [9]:
array.shape[0]

30

In [15]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

In [16]:
df

             A           B           C           D           E
1    98.805644  104.839366   92.595269   97.569244   89.909899
2    87.169556  102.109851   92.848984  106.716484  110.437111
3   112.379756  100.295877  100.865106  104.804939   98.513050
4   116.147618  108.474990  120.445590  107.149056  102.829076
5   106.551457   94.060049  100.378063  112.914262  106.747874
6   120.462441   88.516281  115.305622   78.591771   93.479131
7   110.329186  121.628508  118.874482   62.483324  116.042527
8   114.891922   97.186610   61.839480   88.359515  120.847273
9   112.690444   80.229838   97.438255   90.137491  119.875743
10   91.929249  109.096332   90.410053   87.330145   89.115066
11   94.029517   99.173934  102.725307   92.922848  107.517740
12  114.399685  118.286369  103.131868   82.595094   95.170840
13  129.309272   82.386530  102.121058  115.915887  102.733159
14  115.042002   85.146437   94.720199  114.534634   95.060854
15   77.706988  110.596449   75.284817   84.553441  119.433919
16  114.178147   80.169275   92.281114  116.188450  101.803706
17  105.076842  101.211211   85.412487  124.852759   86.427279
18  112.468763  122.166715   96.792552  107.039652  131.356780
19  127.285993   87.846221  108.140885   76.601557   99.107269
20  149.261307   89.801768  111.997560   81.473172  103.965106
21   97.145953  101.802995  108.106470   95.610225  100.349288
22  100.035160  113.352754   96.900678   64.444525   84.136114
23   87.767369   98.248316   81.901104   96.174422   89.099704
24   82.898626  106.223198   96.221800  100.243703   99.012978
25  102.758533  102.523179  122.723230   84.518860  113.772800
26  101.439851  112.261114   82.440590  100.515246   95.227543
27   88.388813   97.368947  105.346019   95.198943   86.843996
28  105.732625  108.482067  119.439841  104.462206  122.921482
29   81.331624  103.175304   79.656557  102.516337  103.823613
30   90.408551  124.616998  101.889832   98.573393  139.931590

In [17]:
df.head()

            A           B           C           D           E
1   98.805644  104.839366   92.595269   97.569244   89.909899
2   87.169556  102.109851   92.848984  106.716484  110.437111
3  112.379756  100.295877  100.865106  104.804939   98.513050
4  116.147618  108.474990  120.445590  107.149056  102.829076
5  106.551457   94.060049  100.378063  112.914262  106.747874

In [18]:
df.head(3)

            A           B           C           D           E
1   98.805644  104.839366   92.595269   97.569244   89.909899
2   87.169556  102.109851   92.848984  106.716484  110.437111
3  112.379756  100.295877  100.865106  104.804939   98.513050

In [19]:
df.tail()

             A           B           C           D           E
26  101.439851  112.261114   82.440590  100.515246   95.227543
27   88.388813   97.368947  105.346019   95.198943   86.843996
28  105.732625  108.482067  119.439841  104.462206  122.921482
29   81.331624  103.175304   79.656557  102.516337  103.823613
30   90.408551  124.616998  101.889832   98.573393  139.931590

In [20]:
df.tail(3)

             A           B           C           D           E
28  105.732625  108.482067  119.439841  104.462206  122.921482
29   81.331624  103.175304   79.656557  102.516337  103.823613
30   90.408551  124.616998  101.889832   98.573393  139.931590

In [21]:
df.A

1      98.805644
2      87.169556
3     112.379756
4     116.147618
5     106.551457
6     120.462441
7     110.329186
8     114.891922
9     112.690444
10     91.929249
11     94.029517
12    114.399685
13    129.309272
14    115.042002
15     77.706988
16    114.178147
17    105.076842
18    112.468763
19    127.285993
20    149.261307
21     97.145953
22    100.035160
23     87.767369
24     82.898626
25    102.758533
26    101.439851
27     88.388813
28    105.732625
29     81.331624
30     90.408551
Name: A, dtype: float64

In [25]:
type(df.A)

pandas.core.series.Series

In [27]:
df ['A'],['B']

(1      98.805644
 2      87.169556
 3     112.379756
 4     116.147618
 5     106.551457
 6     120.462441
 7     110.329186
 8     114.891922
 9     112.690444
 10     91.929249
 11     94.029517
 12    114.399685
 13    129.309272
 14    115.042002
 15     77.706988
 16    114.178147
 17    105.076842
 18    112.468763
 19    127.285993
 20    149.261307
 21     97.145953
 22    100.035160
 23     87.767369
 24     82.898626
 25    102.758533
 26    101.439851
 27     88.388813
 28    105.732625
 29     81.331624
 30     90.408551
 Name: A, dtype: float64, ['B'])

In [28]:
df[['A', 'D']]

             A           D
1    98.805644   97.569244
2    87.169556  106.716484
3   112.379756  104.804939
4   116.147618  107.149056
5   106.551457  112.914262
6   120.462441   78.591771
7   110.329186   62.483324
8   114.891922   88.359515
9   112.690444   90.137491
10   91.929249   87.330145
11   94.029517   92.922848
12  114.399685   82.595094
13  129.309272  115.915887
14  115.042002  114.534634
15   77.706988   84.553441
16  114.178147  116.188450
17  105.076842  124.852759
18  112.468763  107.039652
19  127.285993   76.601557
20  149.261307   81.473172
21   97.145953   95.610225
22  100.035160   64.444525
23   87.767369   96.174422
24   82.898626  100.243703
25  102.758533   84.518860
26  101.439851  100.515246
27   88.388813   95.198943
28  105.732625  104.462206
29   81.331624  102.516337
30   90.408551   98.573393

In [29]:
type(df[['A','D']])

pandas.core.frame.DataFrame

In [30]:
df.describe()

                A           B           C           D           E
count   30.000000   30.000000   30.000000   30.000000   30.000000
mean   104.934097  101.709249   98.607829   95.833053  104.183084
std     15.879740   12.204615   14.179987   14.966413   13.843776
min     77.706988   80.169275   61.839480   62.483324   84.136114
25%     92.454316   94.841689   92.359653   85.247617   95.088350
50%    105.404734  101.956423   98.908159   96.871833  102.268433
75%    114.344300  108.942766  107.416357  106.238597  112.938878
max    149.261307  124.616998  122.723230  124.852759  139.931590

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 1 to 30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       30 non-null     float64
 1   B       30 non-null     float64
 2   C       30 non-null     float64
 3   D       30 non-null     float64
 4   E       30 non-null     float64
dtypes: float64(5)
memory usage: 1.3 KB

In [33]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

In [35]:
df.shape#linha e colunas

(30, 5)

In [37]:
df.ndim#quantidade de dimensoes linha e coluna serie seria unidimensional

2

In [38]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [39]:
df.index

RangeIndex(start=1, stop=31, step=1)

In [40]:
df.values #vira array numpy

array([[ 98.80564363, 104.83936649,  92.59526893,  97.56924357,
         89.90989909],
       [ 87.1695562 , 102.10985079,  92.84898354, 106.71648351,
        110.43711132],
       [112.37975568, 100.295877  , 100.86510636, 104.8049392 ,
         98.51305047],
       [116.14761844, 108.47498965, 120.44558998, 107.14905633,
        102.82907608],
       [106.55145689,  94.06004904, 100.37806326, 112.91426205,
        106.7478735 ],
       [120.46244097,  88.51628108, 115.30562187,  78.59177123,
         93.479131  ],
       [110.32918624, 121.6285081 , 118.87448157,  62.48332404,
        116.04252738],
       [114.89192246,  97.18661016,  61.83948035,  88.35951459,
        120.8472729 ],
       [112.6904443 ,  80.22983809,  97.43825507,  90.13749068,
        119.87574329],
       [ 91.92924899, 109.0963322 ,  90.41005268,  87.33014485,
         89.11506619],
       [ 94.02951683,  99.17393382, 102.72530666,  92.92284809,
        107.51773996],
       [114.39968459, 118.28636853, 103.13186837,  82.59509354,
         95.17083981],
       [129.30927175,  82.38652991, 102.12105809, 115.91588733,
        102.73315929],
       [115.04200244,  85.14643679,  94.72019886, 114.53463439,
         95.06085361],
       [ 77.70698773, 110.59644869,  75.2848166 ,  84.55344133,
        119.43391859],
       [114.17814705,  80.1692753 ,  92.28111401, 116.18844966,
        101.80370597],
       [105.07684228, 101.21121106,  85.41248697, 124.85275865,
         86.42727936],
       [112.46876309, 122.16671498,  96.79255249, 107.03965174,
        131.35678021],
       [127.2859927 ,  87.84622052, 108.14088452,  76.6015569 ,
         99.10726931],
       [149.26130747,  89.80176819, 111.9975604 ,  81.47317233,
        103.9651058 ],
       [ 97.14595323, 101.80299508, 108.10646953,  95.61022529,
        100.34928793],
       [100.03516042, 113.35275445,  96.90067772,  64.44452456,
         84.13611426],
       [ 87.76736906,  98.24831638,  81.90110378,  96.17442209,
         89.0997044 ],
       [ 82.89862617, 106.22319801,  96.22179979, 100.24370274,
         99.0129776 ],
       [102.75853319, 102.5231788 , 122.7232302 ,  84.51886043,
        113.77280006],
       [101.43985141, 112.26111439,  82.44059009, 100.51524591,
         95.22754303],
       [ 88.38881273,  97.36894694, 105.34601936,  95.19894264,
         86.84399648],
       [105.73262489, 108.48206699, 119.43984111, 104.46220621,
        122.92148221],
       [ 81.33162436, 103.17530393,  79.6565574 , 102.51633709,
        103.82361325],
       [ 90.40855115, 124.61699836, 101.88983154,  98.57339338,
        139.93159037]])

In [41]:
type(df.values)

numpy.ndarray

In [42]:
df.size #quantidade de elementos

150