<a href="https://colab.research.google.com/github/Juniorexz/DataScience/blob/main/iat_at.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Acessar valores dentro de um dataframe
import pandas as pd

In [3]:
#df.iat[]:Acessa um unico valor um dado par linha/coluna por meio de indexação.
#df.at[]:Acessa um unico valor para um dado par de rotulos de linha/coluna.

In [10]:
dados = {'A': pd.Series([15, 17, 21], index = ['W','K','Z']),
	'B':  pd.Series([11, 20, 31,43], index = ['W','K','Z', 'Y']),
	'C': pd.Series([1, 27, 31,35], index = ['W','K','Z', 'Y']),
	'D': pd.Series([101, 21, 33], index = ['K','Z','Y']),}
df = pd.DataFrame(dados)

In [11]:
df

      A   B   C      D
K  17.0  20  27  101.0
W  15.0  11   1    NaN
Y   NaN  43  35   33.0
Z  21.0  31  31   21.0

In [12]:
df.at['W','A']

15.0

In [13]:
df.iat[1,0]

15.0

In [15]:
df.at['Y','C']#

35

In [16]:
df.iat[2,2]

35

In [17]:
df.iat[2,1]#indice linha, coluna

43

In [18]:
df.at['Y','A'] = 20

In [19]:
df

      A   B   C      D
K  17.0  20  27  101.0
W  15.0  11   1    NaN
Y  20.0  43  35   33.0
Z  21.0  31  31   21.0

In [20]:
df.iat[1, 3] = 130

In [21]:
df

      A   B   C      D
K  17.0  20  27  101.0
W  15.0  11   1  130.0
Y  20.0  43  35   33.0
Z  21.0  31  31   21.0