<a href="https://colab.research.google.com/github/Juniorexz/DataScience/blob/main/iat_at.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Acessar valores dentro de um dataframe
import pandas as pd

In [ ]:
#df.iat[]:Acessa um unico valor um dado par linha/coluna por meio de indexação.
#df.at[]:Acessa um unico valor para um dado par de rotulos de linha/coluna.

In [ ]:
dados = {'A': pd.Series([15, 17, 21], index = ['W','K','Z']),
	'B':  pd.Series([11, 20, 31,43], index = ['W','K','Z', 'Y']),
	'C': pd.Series([1, 27, 31,35], index = ['W','K','Z', 'Y']),
	'D': pd.Series([101, 21, 33], index = ['K','Z','Y']),}
df = pd.DataFrame(dados)

In [ ]:
df

      A   B   C      D
K  17.0  20  27  101.0
W  15.0  11   1    NaN
Y   NaN  43  35   33.0
Z  21.0  31  31   21.0

In [ ]:
df.at['W','A']

15.0

In [ ]:
df.iat[1,0]

15.0

In [ ]:
df.at['Y','C']#

35

In [ ]:
df.iat[2,2]

35

In [ ]:
df.iat[2,1]#indice linha, coluna

43

In [ ]:
df.at['Y','A'] = 20

In [ ]:
df

      A   B   C      D
K  17.0  20  27  101.0
W  15.0  11   1    NaN
Y  20.0  43  35   33.0
Z  21.0  31  31   21.0

In [ ]:
df.iat[1, 3] = 130

In [ ]:
df

      A   B   C      D
K  17.0  20  27  101.0
W  15.0  11   1  130.0
Y  20.0  43  35   33.0
Z  21.0  31  31   21.0

In [ ]:
dados = {
	'Marca_A':[1,4,8],
	'Marca_B':[3,6,7],
	'Marca_C':[5,8,9],
	'Marca_D':[7,55,99]
}
df = pd.DataFrame(data = dados, index = [2018, 2019, 2020])

In [ ]:
df

      Marca_A  Marca_B  Marca_C  Marca_D
2018        1        3        5        7
2019        4        6        8       55
2020        8        7        9       99

In [ ]:
df.shape

(3, 4)

In [ ]:
df.axes

[Int64Index([2018, 2019, 2020], dtype='int64'),
 Index(['Marca_A', 'Marca_B', 'Marca_C', 'Marca_D'], dtype='object')]

In [ ]:
df.dtypes

Marca_A    int64
Marca_B    int64
Marca_C    int64
Marca_D    int64
dtype: object

In [ ]:
df.T.shape # linha e coluna

(4, 3)

In [ ]:
df.size

12

In [ ]:
df.empty

False

In [ ]:
df.values

array([[ 1,  3,  5,  7],
       [ 4,  6,  8, 55],
       [ 8,  7,  9, 99]])

In [ ]:
df.head()

      Marca_A  Marca_B  Marca_C  Marca_D
2018        1        3        5        7
2019        4        6        8       55
2020        8        7        9       99

In [ ]:
df.tail()

      Marca_A  Marca_B  Marca_C  Marca_D
2018        1        3        5        7
2019        4        6        8       55
2020        8        7        9       99