In [ ]:
import pandas as pd
import zipfile

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import zipfile

In [ ]:
with zipfile.ZipFile('/content/drive/MyDrive/Tcc/microdados_enem_2018.zip') as z:
  print(*z.namelist(),sep="\n")

DICION╡RIO/
DICION╡RIO/Dicionário_Microdados_Enem_2018.ods
DICION╡RIO/Dicionário_Microdados_Enem_2018.xlsx
INPUTS/
INPUTS/INPUT_R_ITENS_PROVA_2018.R
INPUTS/INPUT_R_MICRODADOS_ENEM_2018.R
INPUTS/INPUT_SAS_ITENS_PROVA_2018.sas
INPUTS/INPUT_SAS_MICRODADOS_ENEM_2018.sas
INPUTS/INPUT_SPSS_ITENS_PROVA_2018.sps
INPUTS/INPUT_SPSS_MICRODADOS_ENEM_2018.sps
LEIA-ME E DOCUMENTOS TÉCNICOS/
LEIA-ME E DOCUMENTOS TÉCNICOS/edital_enem_2018.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/enem_procedimentos_de_analise.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/entenda_a_sua_nota_no_enem_guia_do_participante.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/Leia_Me_Enem_2018.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/manual_de_redacao_do_enem_2018.pdf
LEIA-ME E DOCUMENTOS TÉCNICOS/matriz_referencia.pdf
PROVAS E GABARITOS/
PROVAS E GABARITOS/ENEM_2018_P1_CAD_01_DIA_1_AZUL.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_01_DIA_1_AZUL_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_01_DIA_1_AZUL_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_02_DIA_1_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_03_DIA_1_BRANCO.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_04_DIA_1_ROSA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_05_DIA_2_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_05_DIA_2_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_05_DIA_2_SUPERAMPLIADA.pdf.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_06_DIA_2_CINZA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_07_DIA_2_AZUL.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_08_DIA_2_ROSA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_09_DIA_1_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_10_DIA_1_VERDE_LIBRAS.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_11_DIA_2_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2018_P1_CAD_12_DIA_2_VERDE_LIBRAS.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_01_DIA_1_AZUL.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_01_DIA_1_AZUL_AMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_01_DIA_1_AZUL_SUPERAMPLIADA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_02_DIA_1_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_03_DIA_1_BRANCO.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_04_DIA_1_ROSA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_05_DIA_2_AMARELO.pdf.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_06_DIA_2_CINZA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_07_DIA_2_AZUL.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_08_DIA_2_ROSA.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_09_DIA_1_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_10_DIA_1_VERDE_LIBRAS.pdf.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_11_DIA_2_LARANJA_LEDOR.pdf
PROVAS E GABARITOS/ENEM_2018_P1_GAB_12_DIA_2_VERDE_LIBRAS.pdf
PROVAS E GABARITOS/ENEM_2018_P2_CAD_01_DIA_1_AZUL.pdf
PROVAS E GABARITOS/ENEM_2018_P2_CAD_02_DIA_1_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2018_P2_CAD_03_DIA_1_BRANCO.pdf
PROVAS E GABARITOS/ENEM_2018_P2_CAD_04_DIA_1_ROSA.pdf
PROVAS E GABARITOS/ENEM_2018_P2_CAD_05_DIA_2_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2018_P2_CAD_06_DIA_2_CINZA.pdf
PROVAS E GABARITOS/ENEM_2018_P2_CAD_07_DIA_2_AZUL.pdf
PROVAS E GABARITOS/ENEM_2018_P2_CAD_08_DIA_2_ROSA.pdf
PROVAS E GABARITOS/ENEM_2018_P2_GAB_01_DIA_1_AZUL.pdf
PROVAS E GABARITOS/ENEM_2018_P2_GAB_02_DIA_1_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2018_P2_GAB_03_DIA_1_BRANCO.pdf
PROVAS E GABARITOS/ENEM_2018_P2_GAB_04_DIA_1_ROSA.pdf
PROVAS E GABARITOS/ENEM_2018_P2_GAB_05_DIA_2_AMARELO.pdf
PROVAS E GABARITOS/ENEM_2018_P2_GAB_06_DIA_2_CINZA.pdf
PROVAS E GABARITOS/ENEM_2018_P2_GAB_07_DIA_2_AZUL.pdf
PROVAS E GABARITOS/ENEM_2018_P2_GAB_08_DIA_2_ROSA.pdf
DADOS/
DADOS/ITENS_PROVA_2018.csv
DADOS/MICRODADOS_ENEM_2018.csv

In [ ]:
with zipfile.ZipFile('/content/drive/MyDrive/Tcc/microdados_enem_2018.zip') as z:
  with z.open('DADOS/MICRODADOS_ENEM_2018.csv') as f:
    df = pd.read_csv(f, sep=';', encoding='ISO-8859-1')

In [ ]:
with zipfile.ZipFile('/content/drive/MyDrive/Tcc/microdados_enem_2018.zip') as z:
  with z.open('DADOS/MICRODADOS_ENEM_2018.csv') as f:
    df = pd.read_csv(f, sep=';', encoding='ISO-8859-1', nrows=0)

In [ ]:
df

Empty DataFrame
Columns: [NU_INSCRICAO, NU_ANO, TP_FAIXA_ETARIA, TP_SEXO, TP_ESTADO_CIVIL, TP_COR_RACA, TP_NACIONALIDADE, TP_ST_CONCLUSAO, TP_ANO_CONCLUIU, TP_ESCOLA, TP_ENSINO, IN_TREINEIRO, CO_MUNICIPIO_ESC, NO_MUNICIPIO_ESC, CO_UF_ESC, SG_UF_ESC, TP_DEPENDENCIA_ADM_ESC, TP_LOCALIZACAO_ESC, TP_SIT_FUNC_ESC, CO_MUNICIPIO_PROVA, NO_MUNICIPIO_PROVA, CO_UF_PROVA, SG_UF_PROVA, TP_PRESENCA_CN, TP_PRESENCA_CH, TP_PRESENCA_LC, TP_PRESENCA_MT, CO_PROVA_CN, CO_PROVA_CH, CO_PROVA_LC, CO_PROVA_MT, NU_NOTA_CN, NU_NOTA_CH, NU_NOTA_LC, NU_NOTA_MT, TX_RESPOSTAS_CN, TX_RESPOSTAS_CH, TX_RESPOSTAS_LC, TX_RESPOSTAS_MT, TP_LINGUA, TX_GABARITO_CN, TX_GABARITO_CH, TX_GABARITO_LC, TX_GABARITO_MT, TP_STATUS_REDACAO, NU_NOTA_COMP1, NU_NOTA_COMP2, NU_NOTA_COMP3, NU_NOTA_COMP4, NU_NOTA_COMP5, NU_NOTA_REDACAO, Q001, Q002, Q003, Q004, Q005, Q006, Q007, Q008, Q009, Q010, Q011, Q012, Q013, Q014, Q015, Q016, Q017, Q018, Q019, Q020, Q021, Q022, Q023, Q024, Q025, Q026, Q027]
Index: []

[0 rows x 78 columns]

In [ ]:
df.columns.values #Assim exibe todas as colunas que tenho na minha base de dados

array(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027'], dtype=object)

In [ ]:
columns = ['IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT','TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027']

In [ ]:
with zipfile.ZipFile('/content/drive/MyDrive/Tcc/microdados_enem_2018.zip') as z:
  with z.open('DADOS/MICRODADOS_ENEM_2018.csv') as f:
    df = pd.read_csv(f,sep=';', encoding='ISO-8859-1', usecols=columns)

In [ ]:
df.head()

,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027
0,0,1500800.0,Ananindeua,15.0,PA,4.0,1.0,1.0,1500800,Ananindeua,...,B,C,B,B,D,B,C,B,B,D
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1503200,Igarapé-Açu,...,A,B,A,A,B,A,A,A,A,A
2,0,3155603.0,Rio Pardo de Minas,31.0,MG,2.0,1.0,1.0,3155603,Rio Pardo de Minas,...,A,B,B,A,D,A,A,A,B,A
3,0,1500800.0,Ananindeua,15.0,PA,4.0,1.0,1.0,1500800,Ananindeua,...,A,C,A,B,D,B,A,B,B,B
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2610905,Pesqueira,...,A,B,B,A,C,A,B,A,A,A

In [ ]:
df.NU_I